body {
    background-image: url(/assets/images/star-universe.gif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

audio {
    height: 0;
    width: 0;
    display: inherit;
}

.main {
    height: 100%;
}

.uss {
    margin-top: 50px;
    text-align: center;
}

.uss {
    position: relative;
    height: 200px;
}

.uss img{
    /* position: absolute; */
    max-height: 180px;
    /* animation: linear infinite;
    animation-name: run;
    animation-duration: 5s; */
}

@keyframes run {
    0% {
      left: 0;
    }
    50% {
      left: calc(100% - 240px);
    }
    100% {
      left: 0;    
    }
}

.alien-wrap {
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    height: 330px;
    align-items: flex-start;
    gap: 16px;
}

.alien-wrap img{
    width: 15%;
}

.alien-wrap .alienship-img {
    padding-top: 24%;
}

.alien-wrap .alienship-img:first-child,.alien-wrap .alienship-img:last-child {
    padding-top: 8%;
}

.alien-wrap .alienship-img:nth-child(2),.alien-wrap .alienship-img:nth-last-child(2) {
    padding-top: 16%;
}

.btn-wrap {
    margin: 15px;
    text-align: center;
}

.reset-btn, .start-btn {
    padding: 8px 24px;
    border: 0;
    border-radius: 4px;
    background: #cb7373;
    font-size: 14px;
    line-height: 24px;
    margin-right: 10px;
    cursor: pointer;
}